/* Reset default body styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

/* Banner container */
.banner {
  position: relative;
  background-size: cover;
  background-position: center center;
  color: white;
  height: 448px;
  overflow: hidden; /* Prevent vertical scrollbar */
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Logo styles */
.logo {
  height: 25px;
  width: auto;
}

.right-logo {
  height: 25px;
  width: auto;
  padding-left: 100%;
}

/* Content inside the banner */
.content {
  padding: 20px;
  position: absolute;
  bottom: 140px;
  left: 30px;
  right: 30px;
}

/* Banner buttons */
.banner_buttons {
  margin-top: 20px;
}

.button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem; /* Adjust padding for better button appearance */
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.button:hover {
  color: black;
  background-color: #e6e6e6;
}

/* Description text */
.description {
  width: 100%; /* Adjust width as needed */
  line-height: 1.3;
  font-size: 1rem; /* Increase font size for readability */
  padding-top: 1rem;
}

/* Gradient fade at the bottom of the banner */
.fade_bottom {
  height: 24.4rem; /* Adjust height of the gradient */
  background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
  );
}
